In [6]:
from pyspark.sql import SparkSession

In [7]:
spark = SparkSession.builder.master('local').getOrCreate()

In [8]:
employee_schema = ["employee_id","name","doj","employee_dept_id","gender","salary"]

In [9]:
employee_data = [(1,"pradeep","2016",100,"M",30000),(2,"sai","2016",200,"M",60000),(3,"pra","2016",300,"M",90000)]

In [10]:
df1 = spark.createDataFrame(employee_data,employee_schema)
df1.show()

+-----------+-------+----+----------------+------+------+
|employee_id|   name| doj|employee_dept_id|gender|salary|
+-----------+-------+----+----------------+------+------+
|          1|pradeep|2016|             100|     M| 30000|
|          2|    sai|2016|             200|     M| 60000|
|          3|    pra|2016|             300|     M| 90000|
+-----------+-------+----+----------------+------+------+

In [23]:
employee_data2 = [(3,"pra","2016",300,"M",90000),(5,"sai","2016",200,"M",60000),(6,"pra","2016",300,"M",90000)]

In [24]:
df2 = spark.createDataFrame(employee_data2,employee_schema)

In [25]:
df2.show()

+-----------+----+----+----------------+------+------+
|employee_id|name| doj|employee_dept_id|gender|salary|
+-----------+----+----+----------------+------+------+
|          3| pra|2016|             300|     M| 90000|
|          5| sai|2016|             200|     M| 60000|
|          6| pra|2016|             300|     M| 90000|
+-----------+----+----+----------------+------+------+

In [26]:
df_union = df1.union(df2)

In [27]:
df_union.show()

+-----------+-------+----+----------------+------+------+
|employee_id|   name| doj|employee_dept_id|gender|salary|
+-----------+-------+----+----------------+------+------+
|          1|pradeep|2016|             100|     M| 30000|
|          2|    sai|2016|             200|     M| 60000|
|          3|    pra|2016|             300|     M| 90000|
|          3|    pra|2016|             300|     M| 90000|
|          5|    sai|2016|             200|     M| 60000|
|          6|    pra|2016|             300|     M| 90000|
+-----------+-------+----+----------------+------+------+

In [28]:
df_union.dropDuplicates().show()

+-----------+-------+----+----------------+------+------+
|employee_id|   name| doj|employee_dept_id|gender|salary|
+-----------+-------+----+----------------+------+------+
|          1|pradeep|2016|             100|     M| 30000|
|          3|    pra|2016|             300|     M| 90000|
|          2|    sai|2016|             200|     M| 60000|
|          5|    sai|2016|             200|     M| 60000|
|          6|    pra|2016|             300|     M| 90000|
+-----------+-------+----+----------------+------+------+

In [30]:
df_unionall = df1.unionAll(df2)

In [32]:
df_unionall.show()

+-----------+-------+----+----------------+------+------+
|employee_id|   name| doj|employee_dept_id|gender|salary|
+-----------+-------+----+----------------+------+------+
|          1|pradeep|2016|             100|     M| 30000|
|          2|    sai|2016|             200|     M| 60000|
|          3|    pra|2016|             300|     M| 90000|
|          3|    pra|2016|             300|     M| 90000|
|          5|    sai|2016|             200|     M| 60000|
|          6|    pra|2016|             300|     M| 90000|
+-----------+-------+----+----------------+------+------+

In [34]:
df_unionall.dropDuplicates().show()

+-----------+-------+----+----------------+------+------+
|employee_id|   name| doj|employee_dept_id|gender|salary|
+-----------+-------+----+----------------+------+------+
|          1|pradeep|2016|             100|     M| 30000|
|          3|    pra|2016|             300|     M| 90000|
|          2|    sai|2016|             200|     M| 60000|
|          5|    sai|2016|             200|     M| 60000|
|          6|    pra|2016|             300|     M| 90000|
+-----------+-------+----+----------------+------+------+