In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("read_write_json") \
    .getOrCreate()

Multi line json

In [8]:
from pyspark.sql.types import *
from pyspark.sql.functions import *

df = spark.read.option("multiline", "true").json(path=r'C:\Users\saipr\software\python\workspace\PySpark_Project\data_files\json\multiline.json')

df.show()

+--------------------+----------------+----------------+-----------------+-------+
|                 bio|              id|        language|             name|version|
+--------------------+----------------+----------------+-----------------+-------+
|Donec lobortis el...|V59OF92YF627HFY0|          Sindhi|    Adeel Solangi|    6.1|
|Aliquam sollicitu...|ENTOCR13RSCLZ6KU|          Sindhi|    Afzal Ghaffar|   1.88|
|Vestibulum pharet...|IAKPO3R4761JDRVG|          Sindhi|    Aamir Solangi|   7.27|
|Donec lobortis el...|5ZVOEPMJUI4MB4EN|          Uyghur|    Abla Dilmurat|   2.53|
|Vivamus id faucib...|6VTI8X6LL0MMPJCC|          Uyghur|         Adil Eli|   6.49|
|Duis commodo orci...|F2KEU5L7EHYSYFTT|          Uyghur|      Adile Qadir|    1.9|
|Vivamus id faucib...|LO6DVTZLRK68528I|          Uyghur|Abdukerim Ibrahim|    5.9|
|Etiam malesuada b...|LJRIULRNJFCNZJAJ|          Sindhi|        Adil Abro|   9.32|
|Fusce eu ultrices...|JMCL0CXNXHPL1GBC|        Galician| Afonso Vilarchán|   5.21|
|Nam laoreet, nunc...|KU4T500C830697CW|         Maltese|    Mark Schembri|   3.17|
|Pellentesque mass...|XOF91ZR7MHV1TXRS|        Galician|    Antía Sixirei|   6.44|
|Duis commodo orci...|FTSNV411G5MKLPDT|          Uyghur|   Aygul Mutellip|    9.1|
|Nunc aliquet soda...|OJMWMEEQWMLDU29P|          Sindhi|     Awais Shaikh|   1.59|
|Vestibulum ante i...|5G646V7E6TJW8X2M|          Sindhi|    Ambreen Ahmed|   2.35|
|Nullam ac sodales...|Z53AJY7WUYPLAWC9|        Galician|      Celtia Anes|   8.34|
|Phasellus tincidu...|N1AS6UFULO6WGTLB|         Maltese|    George Mifsud|   7.47|
|Curabitur ultrici...|70RODUVRD95CLOJL|          Uyghur|     Aytürk Qasim|   1.32|
|Maecenas non arcu...|VBLI24FKF7VV6BWE|Sesotho sa Leboa|       Dialè Meso|   6.29|
|Integer vehicula,...|4VRLON0GPEZYFCVL|        Galician|    Breixo Galáns|   1.62|
|Ut viverra quis e...|5DRDI1QLRGLP29RC|        Galician|     Bieito Lorme|   4.45|
+--------------------+----------------+----------------+-----------------+-------+
only showing top 20 rows

read multiple json files

In [10]:
df = spark.read.json([r'C:\Users\saipr\software\python\workspace\PySpark_Project\data_files\json\emp1.json',
                      r'C:\Users\saipr\software\python\workspace\PySpark_Project\data_files\json\emp2.json'])
df.show()

+---+-------------+-------+
|age|         city|   name|
+---+-------------+-------+
| 30|     New York|    sai|
| 25|      Chicago|pradeep|
| 35|San Francisco| baggam|
| 30|     New York|   John|
| 25|      Chicago|   Jane|
| 35|San Francisco|   Mike|
+---+-------------+-------+

read multiple jsons in a location

In [ ]:
schema = StructType().add(field='age',dataType=IntegerType())\
                     .add(field='city',dataType=StringType())\
                     .add(field='name',dataType=StringType())

In [ ]:
df = spark.read.json(r'C:\Users\saipr\software\python\workspace\PySpark_Project\data_files\json\emp*.json',schema=schema_of_csv)
df.show()

write json

In [ ]:
data = [
    {"name": "John", "age": 30, "city": "New York"},
    {"name": "Jane", "age": 25, "city": "Chicago"},
    {"name": "Mike", "age": 35, "city": "San Francisco"}
]

In [ ]:
df = spark.createDataFrame(data)

df_json = df.write.json(r'C:\Users\saipr\software\python\workspace\PySpark_Project\data_files\output\employees.json')

df_json.show()

df.printSchema()