In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("read_write_parquet") \
    .getOrCreate()

In [4]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

df = spark.read.parquet(r'C:\Users\saipr\software\python\workspace\PySpark_Project\data_files\parquet\sample1.parquet')

df.show()
df.count()

+---------+--------+
|  column0| column1|
+---------+--------+
|    first|    last|
|    Jorge|   Frank|
|   Hunter|  Moreno|
|   Esther|  Guzman|
|   Dennis|Stephens|
|   Nettie|Franklin|
|  Stanley|  Gibson|
|  Eugenia|   Greer|
|  Jeffery| Delgado|
|    Clara|   Cross|
|  Bernice|    Vega|
|    Kevin|    Diaz|
|Henrietta|  Rivera|
|  Matilda|   Ellis|
|    Isaac|  Willis|
|     Eric|    Cain|
|   Hettie| Baldwin|
|    Tommy| Wheeler|
|  Theresa|   Casey|
|     Bess| Griffin|
+---------+--------+
only showing top 20 rows

101

In [4]:
data = [
    {"name": "John", "age": 30, "city": "New York"},
    {"name": "Jane", "age": 25, "city": "Chicago"},
    {"name": "Mike", "age": 35, "city": "San Francisco"}
]

In [5]:
from pyspark.sql.functions import *
df = spark.createDataFrame(data)
df.show()

+---+-------------+----+
|age|         city|name|
+---+-------------+----+
| 30|     New York|John|
| 25|      Chicago|Jane|
| 35|San Francisco|Mike|
+---+-------------+----+

In [ ]:
df.write.mode("overwrite").parquet(r'C:\Users\saipr\software\python\workspace\PySpark_Project\data_files\output\test\employees.parquet')