In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("select").getOrCreate()

In [3]:
data = [("Alice", 3000, "HR"),
         ("Bob", 4000, "Finance")]
schema = ["name", "salary", "department"]

df = spark.createDataFrame(data,schema)
df.show()

+-----+------+----------+
| name|salary|department|
+-----+------+----------+
|Alice|  3000|        HR|
|  Bob|  4000|   Finance|
+-----+------+----------+

In [4]:
df.select('name','salary').show()

df.select(df.name,df.department).show()

df.select(df['name'],df['department']).show()

from pyspark.sql.functions import col

df.select(col('name'),col('salary')).show()

+-----+------+
| name|salary|
+-----+------+
|Alice|  3000|
|  Bob|  4000|
+-----+------+

+-----+----------+
| name|department|
+-----+----------+
|Alice|        HR|
|  Bob|   Finance|
+-----+----------+

+-----+----------+
| name|department|
+-----+----------+
|Alice|        HR|
|  Bob|   Finance|
+-----+----------+

+-----+------+
| name|salary|
+-----+------+
|Alice|  3000|
|  Bob|  4000|
+-----+------+

In [5]:
df.select([col for col in df.columns]).show()

+-----+------+----------+
| name|salary|department|
+-----+------+----------+
|Alice|  3000|        HR|
|  Bob|  4000|   Finance|
+-----+------+----------+

In [6]:
df.select('*').show()

+-----+------+----------+
| name|salary|department|
+-----+------+----------+
|Alice|  3000|        HR|
|  Bob|  4000|   Finance|
+-----+------+----------+