In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("with_column") \
    .getOrCreate()

In [2]:
data = [
    {"name": "John", "age": 30, "city": "New York"},
    {"name": "Jane", "age": 25, "city": "Chicago"},
    {"name": "Mike", "age": 35, "city": "San Francisco"}
]

In [3]:
df = spark.createDataFrame(data)
df.show()

+---+-------------+----+
|age|         city|name|
+---+-------------+----+
| 30|     New York|John|
| 25|      Chicago|Jane|
| 35|San Francisco|Mike|
+---+-------------+----+

creating new column with existing column data

In [4]:
from pyspark.sql.functions import col,lit

In [10]:
df = df.withColumn("p_age", col("age"))

In [11]:
df.show()

+---+-------------+----+-----+
|age|         city|name|p_age|
+---+-------------+----+-----+
| 30|     New York|John|   30|
| 25|      Chicago|Jane|   25|
| 35|San Francisco|Mike|   35|
+---+-------------+----+-----+

column with literal value

In [13]:
df = df.withColumn("new_age", lit(30))  # Adds a column 'age' with the value 30
df.show()

+---+-------------+----+-----+-------+
|age|         city|name|p_age|new_age|
+---+-------------+----+-----+-------+
| 30|     New York|John|   30|     30|
| 25|      Chicago|Jane|   25|     30|
| 35|San Francisco|Mike|   35|     30|
+---+-------------+----+-----+-------+

change data type

In [15]:
df = df.withColumn("age", col("age").cast("int")) 
df.show()

+---+-------------+----+-----+-------+
|age|         city|name|p_age|new_age|
+---+-------------+----+-----+-------+
| 30|     New York|John|   30|     30|
| 25|      Chicago|Jane|   25|     30|
| 35|San Francisco|Mike|   35|     30|
+---+-------------+----+-----+-------+

In [16]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- name: string (nullable = true)
 |-- p_age: long (nullable = true)
 |-- new_age: integer (nullable = false)

In [5]:
df_1 = df.withColumnRenamed("age","people_age")
df_1.show()

+----------+-------------+----+
|people_age|         city|name|
+----------+-------------+----+
|        30|     New York|John|
|        25|      Chicago|Jane|
|        35|San Francisco|Mike|
+----------+-------------+----+